{% set existing_tags = existing_config.scrape_configs | map(attribute='job_name') | list %}

global:
  scrape_interval: 5s
  evaluation_interval: 15s

scrape_configs:
{% for job in existing_config.scrape_configs %}
  - job_name: "{{ job.job_name }}"
    static_configs:
    {% for sc in job.static_configs %}
      - targets: {{ sc.targets }}
    {% endfor %}
{% endfor %}

{% for tag, node in hostvars['localhost']['service_nodes_metadata'].items() %}
  {% set job_name = "prometheus-pump-"+ tag %}
  {% if job_name not in existing_tags %}
  - job_name: "{{ job_name }}"
    metrics_path: '/metrics'
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ node.admin_ip }}:2112"]
  {% endif %}
{% endfor %}
