global:
  scrape_interval: 5s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus-pump'
    metrics_path: '/metrics'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'localhost:2112' ]

  - job_name: 'federate-metrics-service-nodes'
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__=~".+"}'
    static_configs:
{% for tag, node in hostvars['localhost']['service_nodes_metadata'].items() %}
{% if node.enable_service_ha and node.active %}
      - targets: ["{{ node.virtual_ip_address }}:9090"]
{% elif not node.enable_service_ha %}
      - targets: ["{{ node.admin_ip }}:9090"]
{% endif %}
{% endfor %}
