===== Telemetry Summary Report =====

----- Telemetry Report for OIM -----

Total IP count with Telemetry activated: {{ (db_idrac_ip_list | length) + (telemetry_idrac | length) }}
Telemetry activated IPs List:
{% for item in db_idrac_ip_list + telemetry_idrac %}
  - {{ item }}
{% endfor %}

Total IP count with Telemetry not supported: {{ failed_idrac_count | int + invalid_idrac_count | int }}
Telemetry not supported IPs List:
{% for item in failed_idrac + invalid_idrac_list %}
  - {{ item }}
{% endfor %}

===== Telemetry Report End =====