cluster_name: "{{ oim_node_name }}"
cluster_domain: "{{ domain_name }}"
cluster_boot_ip: "{{ admin_nic_ip }}"
cluster_boot_interface: "{{ admin_nic }}"
coredhcp_dhcp_pool: "{{ network_data.admin_network.dynamic_range | split('-') | first }} {{ network_data.admin_network.dynamic_range | split('-') | last }}"
coredhcp_netmask: "{{ (admin_nic_ip + '/' + network_data.admin_network.netmask_bits) | ansible.utils.ipaddr('netmask') }}"
coredhcp_lease_duration: "{{ default_lease_time }}s"
openchami_work_dir: "{{ openchami_work_dir }}"
data_oci_dir: "{{ data_oci_dir }}"
data_s3_dir: "{{ data_s3_dir }}"
minio_s3_username: "{{ minio_s3_username }}"
minio_s3_password: "{{ minio_s3_password }}"