---

# Provision credentials
provision_password: ""
bmc_username: ""
bmc_password: ""

# Prepare_oim credentials
minio_s3_username: ""
minio_s3_password: ""
pulp_password: ""
docker_username: ""
docker_password: ""

# Omnia credentials
slurm_db_password: ""

# Security credentials
openldap_db_username: ""
openldap_db_password: ""
openldap_config_username: ""
openldap_config_password: ""
openldap_monitor_password: ""

# iDrac Telemetry credentials
mysqldb_user: ""
mysqldb_password: ""
mysqldb_root_password: ""

# csi powerscale credentials
csi_username: ""
csi_password: ""
