[Omnia-RPM-Repo{{ item.1.name }}]
name=Omnia-Repo-{{ item.1.name }}
baseurl={{ (pulp_dist_result | selectattr('name', 'equalto', item.1.name) | map(attribute='base_url') | list | first) }}
enabled=1
gpgcheck=0
skip_if_unavailable=True
sslverify=1
sslcacert=/etc/pki/ca-trust/source/anchors/pulp_webserver.crt

