# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

container_removal_failure_msg: " container could not be removed. Please check container logs."
omnia_nfs_share: "{{ hostvars['localhost']['oim_shared_path'] }}/omnia"
telemetry_cleanup_directory:
  - "{{ omnia_nfs_share }}/telemetry"
  - "{{ omnia_nfs_share }}/.secrets"
  - "{{ omnia_nfs_share }}/log/telemetry"

# Usage: cleanup_pcs.yml
pcs_container_name: "omnia_pcs"
omnia_container_name: "omnia_core"
pcs_directory_cleanup:
  - "{{ omnia_nfs_share }}/pcs"
  - "{{ omnia_nfs_share }}/log/pcs"
pcs_service_file_path: "/etc/containers/systemd/{{ pcs_container_name }}.container"
pcs_firewall_ports:
  - "5404-5405/udp"
  - "3121/tcp"
  - "2224/tcp"
  - "2222/tcp"

# Usage: cleanup_pulp.yml
pulp_container_name: "pulp"
pulp_cleanup_directory:
  - "{{ omnia_nfs_share }}/pulp/pulp_ha/cli.toml"
  - "{{ omnia_nfs_share }}/log/pulp"
  - "{{ omnia_nfs_share }}/pulp/settings"
  - "{{ omnia_nfs_share }}/pulp/nginx"
  - "{{ omnia_nfs_share }}/input/project_default/.local_repo_credentials_key"
  - "{{ omnia_nfs_share }}/offline_repo/"
  - "{{ omnia_nfs_share }}/log/local_repo/"
  - "{{ omnia_nfs_share }}/k8s_dynamic_json/"
track_file_path: "{{ omnia_nfs_share }}/pulp/pulp_crt_track.txt"

# Usage: cleanup_provision.yml
provision_container_name: "omnia_provision"
provision_cleanup_directory:
  - "{{ omnia_nfs_share }}/provision"
  - "{{ omnia_nfs_share }}/log/provision"
  - "{{ omnia_nfs_share }}/.data/provision_metadata.yml"
  - "{{ omnia_nfs_share }}/.postgres"
  - "{{ omnia_nfs_share }}/service_nodes"
xcat_firewall_ports:
  - "3001/tcp"
  - "3001/udp"
  - "3002/tcp"
  - "3002/udp"
  - "7/udp"
  - "22/tcp"
  - "22/udp"
  - "873/tcp"
  - "873/udp"
  - "67/udp"
  - "68/tcp"
  - "69/tcp"
  - "69/udp"
  - "80/tcp"
  - "80/udp"
  - "111/udp"
  - "514/tcp"
  - "514/udp"
  - "782/tcp"
  - "2049/tcp"
  - "2049/udp"
  - "4011/tcp"
  - "623/tcp"
  - "623/udp"
  - "161/tcp"
  - "161/udp"
  - "162/tcp"
  - "162/udp"
  - "2240/tcp"
  - "5432/tcp"
  - "5432/udp"

idrac_firewall_ports:
  - "61613/tcp"
  - "8161/tcp"
  - "3306/tcp"
  - "3000/tcp"

prometheus_firewall_ports:
  - "2112/tcp"
  - "9090/tcp"

visualization_firewall_ports:
  - "3000/tcp"
  - "3001/tcp"
  - "5000/tcp"

loki_firewall_ports:
  - "3100/tcp"
ntp_firewall_service: ntp

# Usage: cleanup_kubespray.yml
kubespray_cleanup_directory:
  - "{{ omnia_nfs_share }}/kubespray"
  - "{{ omnia_nfs_share }}/log/kubespray"

# Usage: cleanup_squid.yml
squid_container_name: "squid"
squid_cleanup_directories:
  - "{{ omnia_nfs_share }}/squid"
  - "{{ omnia_nfs_share }}/log/squid"

# Usage: cleanup_mysql.yml
idrac_telemetry_dir: "{{ omnia_nfs_share }}/telemetry/idrac_telemetry" # For idrac_telemetry and all those logs
mysql_container_name: "mysqldb"
mysql_root_password: "mysql_root_password"
mysql_user_password: "mysql_user_password"
mysql_user: "mysql_user"
mysqldb_secrets:
  - "{{ mysql_root_password }}"
  - "{{ mysql_user }}"
  - "{{ mysql_user_password }}"
mysql_data_dir: "{{ idrac_telemetry_dir }}/mysqldb"
mysql_log_volume: "{{ omnia_nfs_share }}/log/telemetry/mysqldb"
mysqldb_podman_volumes:
  - { name: "mysqldb_data", path: "{{ mysql_data_dir }}" }
  - { name: "mysqldb_log", path: "{{ mysql_log_volume }}" }

# Usage: cleanup_activemq.yml
activemq_container_name: "activemq"
activemq_cleanup_directory:
  - "{{ omnia_nfs_share }}/log/telemetry/activemq"
  - "{{ idrac_telemetry_dir }}/activemq"
activemq_podman_volumes:
  - { name: "activemq_log", path: "{{ omnia_nfs_share }}/log/telemetry/activemq" }

# Usage: cleanup_idrac_receiver.yml
idrac_telemetry_receiver_container_name: "idrac_telemetry_receiver"
idrac_telemetry_receiver_cleanup_directory:
  - "{{ omnia_nfs_share }}/log/telemetry/idrac_telemetry_receiver"
  - "{{ idrac_telemetry_dir }}/idrac_telemetry_receiver"

# Usage: cleanup_prometheus_pump.yml
prometheus_pump_container_name: "prometheus_pump"
prometheus_pump_cleanup_directory:
  - "{{ omnia_nfs_share }}/log/telemetry/prometheus_pump"
  - "{{ omnia_nfs_share }}/telemetry/prometheus_pump"

# Usage: cleanup_prometheus.yml
prometheus_container_name: "prometheus"
prometheus_cleanup_directory:
  - "{{ omnia_nfs_share }}/telemetry/prometheus"
  - "{{ omnia_nfs_share }}/log/telemetry/prometheus"
prometheus_podman_volumes:
  - { name: "prometheus_data", path: "{{ omnia_nfs_share }}/telemetry/prometheus/prometheus_data" }
  - { name: "prometheus_log", path: "{{ omnia_nfs_share }}/log/telemetry/prometheus" }

# Usage: cleanup_grafana.yml
grafana_container_name: "grafana"
grafana_user: "grafana_user"
grafana_user_password: "grafana_user_password"
grafana_secrets:
  - "{{ grafana_user }}"
  - "{{ grafana_user_password }}"
grafana_logs_dir: "{{ omnia_nfs_share }}/log/telemetry/grafana"
grafana_data_dir: "{{ omnia_nfs_share }}/telemetry/grafana"
grafana_podman_volumes:
  - { name: "grafana_data", path: "{{ grafana_data_dir }}" }
  - { name: "grafana_log", path: "{{ grafana_logs_dir }}" }

# Usage: cleanup_loki_promtail.yml
loki_container_name: "loki"
promtail_container_name: "promtail"
loki_promtail_cleanup_directory:
  - "{{ omnia_nfs_share }}/telemetry/loki_promtail"
resource_removal_failure_msg: "Failed to clean up Loki and Promtail resources after container removal."
config_dir: "{{ omnia_nfs_share }}/telemetry/loki_promtail"
loki_podman_volumes:
  - { name: "loki_promtail_config", path: "{{ config_dir }}" }
