# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

---

- name: Create idrac telemetry directories
  ansible.builtin.file:
    path: "{{ idrac_telemetry_dir }}"
    state: directory
    mode: "{{ root_read_write }}"

# Deploy mysql container

- name: Deploy idrac containers when idrac_telemetry_support is true
  when: hostvars['localhost']['idrac_telemetry_support']
  block:
    - name: Deploy mysql container
      ansible.builtin.include_tasks: deploy_mysql_container.yml

    - name: Deploy Activemq container
      ansible.builtin.include_tasks: deploy_activemq_container.yml

    - name: Deploy iDRAC Telemetry Receiver container
      ansible.builtin.include_tasks: deploy_idrac_receiver_container.yml
