[Unit]
Description=Kubespray Quadlet Container

[Container]
Image={{ kubespray_image_name }}:{{ kubespray_image_tag }}
ContainerName={{ kubespray_container_name }}
HostName={{ kubespray_container_name }}
Network=host
AddCapability=AUDIT_WRITE

# Volumes
{% for vol in kubespray_volumes %}
Volume={{ vol }}
{% endfor %}

PodmanArgs=--restart no

[Install]
WantedBy=multi-user.target
